#bottom {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);
  height: 350px;

  background: rgba(255, 255, 255, 0.15);
  border: outset 20px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* frosted glass */
  -webkit-backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.waves-viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.single-wave {
  position: absolute;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.single-wave img {
  position: absolute;
  left: 0;
}

@media screen and (min-width: 551px) {
  .single-wave img {
    top: -45px;
  }
}

@media screen and (max-width: 550px) {
  .single-wave img {
    bottom: 0;
  }
}

#boat-img {
  position: absolute;
  left: 30px;
  top: -15px;
  height: 480px;
}

@media screen and (max-width: 550px) {
  .single-wave {
    transform: scaleY(0.5);
    transform-origin: bottom;
    bottom: 0;
  }

  .single-wave img {
    bottom: 0;
  }

  #boat-img {
    left: -20px;
    top: 0px;
    height: 380px;
  }
}

.floating-item {
  position: absolute;
  width: 100px;
  bottom: 6px;
}

.firework {
  position: absolute;
  top: 100px;
  left: 250px;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 10;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    #fff,
    rgba(255, 255, 0, 0.6),
    transparent
  );
  transform: translate(-50%, -50%) scale(0);
  animation: flash-burst 0.3s linear forwards;
  z-index: 9;
}

@keyframes flash-burst {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(15);
    opacity: 0;
  }
}

.particle {
  --angle: 0deg;
  --distance: 0px;
  --color: white;

  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 2px;
  border-radius: 50%;
  border: 0px;

  transform: translate(-50%, -50%) rotate(var(--angle)) translateX(0px)
    scaleY(0.5);
  opacity: 1;

  animation: firework-burst 1.5s ease-out forwards;
}

@keyframes firework-burst {
  0% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateX(0px)
      scaleX(0.5);
    opacity: 1;
    background-color: white;
    width: 4px;
  }
  60% {
    background-color: var(--color);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--angle))
      translateX(calc(var(--distance))) scaleX(1);
    opacity: 0;
    background-color: var(--color);
    width: 25px;
  }
}
