#bottom {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);
  height: 350px;

  background: rgba(255, 255, 255, 0.15);
  border: outset 20px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* frosted glass */
  -webkit-backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.waves-viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.single-wave {
  position: absolute;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.single-wave img {
  position: absolute;
  left: 0;
  top: -45px;
}

#boat-img {
  position: absolute;
  left: 130px;
  top: -15px;
  height: 480px;
}
