#bottom {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);
  height: 350px;

  background: rgba(255, 255, 255, 0.15);
  border: outset 20px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* frosted glass */
  -webkit-backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.waves-viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.single-wave {
  position: absolute;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.single-wave img {
  position: absolute;
  left: 0;
  top: -45px;
}

#boat-img {
  position: absolute;
  left: 130px;
  top: -15px;
  height: 480px;
}

.floating-item {
  position: absolute;
  width: 100px;
  bottom: 6px;
}

.firework {
  position: absolute;
  top: 100px;
  left: 350px;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 10;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    #fff,
    rgba(255, 255, 0, 0.6),
    transparent
  );
  transform: translate(-50%, -50%) scale(0);
  animation: flash-burst 0.4s ease-out forwards;
  z-index: 9;
}

@keyframes flash-burst {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(6);
    opacity: 0;
  }
}

.particle {
  --angle: 0deg;
  --distance: 0px;

  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: radial-gradient(circle, #fff, rgb(60, 255, 0), rgb(255, 153, 0));
  border-radius: 50%;

  transform: translate(-50%, -50%) rotate(var(--angle)) translateX(0px)
    scaleY(0.5);
  opacity: 1;

  animation: firework-burst 1.5s ease-out forwards;
}

@keyframes firework-burst {
  0% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateX(0px)
      scaleX(0.5);
    opacity: 1;
    filter: brightness(4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--angle))
      translateX(calc(var(--distance) * 1.2)) scaleX(1.5);
    opacity: 0;
    filter: brightness(0.5);
  }
}
