#middle {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);
  height: calc(78vh - 350px);
  margin-bottom: 3vh;

  position: relative;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 749px) {
  #middle {
    min-width: 100vw;
    min-height: 320px;
    margin-bottom: 2px;
  }

  #middle #item-display #right-info-and-pic {
    min-height: 210px !important;
  }
}

#middle .panel {
  border: solid 1px black;
  flex: 1;
}

#middle #default-bg,
#middle #error-bg {
  position: absolute;
  width: 1500px;
  height: 810px;
  z-index: 0;
}

#middle .panel.default {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9) !important;
  position: relative;
}

#middle.has-error .panel {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#middle .panel.default img {
  height: 95%;
  width: auto;
  filter: drop-shadow(8px 12px 8px rgba(0, 0, 0, 0.5));
}

#middle.has-error .panel.default img {
  display: none;
}

@media screen and (max-width: 750px) {
  #middle #default-bg {
    left: -450px;
  }

  #middle #item-display.default {
    display: none;
  }
}

#middle .tea-shelf {
  background-color: white;
  z-index: 1;
  padding: 5px;
  overflow-x: hidden;
  max-width: 50%;
}

#middle .tea-shelf .teas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2px;
}

#middle .tea-shelf .title-bar {
  display: none;
  position: relative;
}

#middle .tea-shelf .title-bar .x-btn {
  border-radius: 0px;
  position: absolute;
  right: 0px;
  box-sizing: border-box;
  box-shadow: none;
}

#middle .tea-shelf a {
  color: black;
}

#middle .error {
  position: relative;
}

#middle .default .description,
#middle .error .description {
  position: absolute;
  top: 25px;
  right: 12px;
  font-size: 40px;
  font-family: Garamond;
  color: white;
  text-shadow: #ffcc00 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px); /* frosted glass */
  -webkit-backdrop-filter: blur(10px);
  padding: 5px 15px;
  border-radius: 10px;
  font-family: "Amatic";
}

#middle .error .description {
  color: white;
  text-shadow: #ff4800 1px 0 10px;
}

#middle .tea-shelf .teas .tea-icon {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;

  transition: box-shadow 0s;
}

#middle .tea-shelf .tea-icon:hover {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  transition-duration: 0s;
}

#middle .tea-shelf .tea-icon:active {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.6);
  transition-duration: 0.1s;
}

/* slow return after click or hover ends */
#middle .tea-shelf .tea-icon:not(:active) {
  transition-duration: 0.3s;
}

#middle .tea-shelf img {
  width: 150px;
}

#middle .tea-shelf .label {
  max-width: 80%;
  text-align: center;
}

#middle #item-display {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(255, 255, 255);
  z-index: 1;
  max-width: 50%;
}

@media screen and (max-width: 749px) {
  #middle .tea-shelf {
    display: none;
  }

  #middle .tea-shelf .title-bar {
    background: rgb(49, 66, 77);
    color: rgb(212, 250, 250);
    width: 100%;
    font-size: 20px;
    font-family: "NorseBold";
    min-height: 30px;
    max-height: 30px;
    margin-bottom: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #middle .tea-shelf.expanded {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100dvh;
    height: 100dvh;
    min-width: 100vw;
    z-index: 101;
    box-sizing: border-box;
    overscroll-behavior: contain;
  }

  #middle .tea-shelf.expanded .teas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50vw - 30px), 1fr));
  }

  #middle .tea-shelf.error,
  #middle .tea-shelf.default {
    max-width: 100%;
    display: block;
  }
}

@media screen and (max-width: 350px) {
  #middle .tea-shelf.expanded .teas {
    grid-template-columns: repeat(auto-fit, 100vw);
  }
}

#middle #item-right {
  display: flex;
  flex-direction: column;
  min-width: 370px;
}

@media screen and (max-width: 500px) {
  #middle #item-right {
    min-width: 0px;
  }
}

#middle #item-display #right-info-and-pic {
  display: flex;
  max-height: 270px;
  min-height: 270px;
}

#middle #item-display .fs-image-container {
  margin: auto;
  max-width: 60%;
}

#middle #item-display .ss-image-container {
  margin: auto;
  max-width: 50%;
}

#middle #item-display #full-size-img {
  width: 100%;
}

#middle #item-display #smaller-size-img {
  display: none;
}

@media screen and (max-width: 1350px) {
  #middle #item-display #full-size-img {
    display: none;
  }

  #middle #item-display #smaller-size-img {
    display: block;
    width: 100%;
  }
}

#middle #item-display .title {
  padding-left: 30px;
  margin-top: 3%;
  font-size: clamp(18px, calc(2vw + 3px), 30px);
  font-family: Garamond;
}

#middle #item-display .adjectives {
  padding-left: 40px;
  margin-bottom: 10%;
  font-size: clamp(15px, calc(0.6667vw + 10px), 19px);
  font-family: Garamond;
  font-style: italic;
  letter-spacing: 2px;
}

#middle #item-display #right-description {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 3%;
  font-size: clamp(11px, calc(-0.3333vw + 15.5px), 13px);
  font-family: Georgia;
}

@media screen and (max-width: 749px) {
  #middle #item-display {
    max-width: 100%;
  }

  #middle #item-display #full-size-img img {
    display: block;
  }

  #middle #item-display .title {
    font-size: clamp(18px, calc(2.6667vw + 10px), 30px);
  }

  #middle #item-display .adjectives {
    font-size: clamp(15px, calc(0.8889vw + 12.3333px), 19px);
  }

  #middle #item-display #right-description {
    font-size: clamp(11px, calc(0.4444vw + 9.6667px), 13px);
  }
}

#middle #item-display #right-cost-and-cart {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#middle #item-display #right-cost {
  display: flex;
  justify-content: flex-end;
  padding-left: 7%;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: Georgia;
}

#middle #item-display #right-cart {
  display: flex;
  align-self: flex-end;
  padding-right: 20px;
  gap: 5px;
  margin-bottom: 20px;
}

#middle #item-display #right-cart .add-to-cart {
  font-size: 15px;
  background-color: rgb(255, 222, 37);
  color: rgb(11, 0, 73);
  border: none;
  width: 250px;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media screen and (max-width: 500px) {
  #middle #item-display #right-cart .add-to-cart {
    width: 200px;
  }
}

#middle #item-display #right-cart .add-to-cart:hover {
  color: rgb(43, 37, 73);
  box-shadow: 0 0 15px rgba(255, 222, 37, 0.8);
}

#middle #item-display #right-cart .add-to-cart:active {
  color: rgb(43, 37, 73);
  box-shadow: inset 0 0 15px rgba(201, 172, 11, 0.7);
  transform: scale(0.98);
  transition: all 0.1s;
}

#middle #item-display #right-cart #right-quantity span {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  width: 35px;
}
