#middle {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);
  height: calc(78vh - 350px);
  margin-bottom: 3vh;

  background-color: rgb(255, 255, 255, 0.95);

  display: flex;
}

#middle .panel {
  border: solid 1px black;
  flex: 1;
}

#middle .tea-shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 5px;
  gap: 2px;
  overflow-x: hidden;
  overflow-y: default;
}

#middle .tea-shelf .tea-icon {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

#middle .tea-shelf .tea-icon:hover {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
}

#middle .tea-shelf img {
  width: 150px;
}

#middle .tea-shelf .label {
  max-width: 80%;
  text-align: center;
}

#middle #item-display {
  display: flex;
}

#middle #item-display img {
  height: 100%;
}
