#sc-backscreen {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

#top-banner #side-cart {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(220, 244, 252);
  height: 570px;
  width: 400px;
  z-index: 101;
  overflow-y: hidden;
}

#dragonhead {
  position: absolute;
  width: 100%;
  opacity: 10%;
  pointer-events: none;
  z-index: -1;
}

#sc-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 0px;
  font-size: 20px;
  background-color: rgb(220, 244, 252);
  height: 30px;
}

#sc-titlebar #sc-title {
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.8),
    5px 5px 2px rgba(0, 0, 0, 0.2);
  font-family: "NorseBold";
  font-size: 25px;
}

#side-cart hr {
  display: block;
  margin: 0px;
  border-color: rgba(180, 81, 0, 0.521);
}

#side-cart #sc-items {
  max-height: calc(100% - 140px);
  min-height: calc(100% - 140px);
  overflow-y: auto;
}

#side-cart #sc-items .sc-item {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

#side-cart #sc-items .sc-item:not(:last-child) {
  border-bottom: 2px solid rgba(180, 81, 0, 0.521);
}

#side-cart #sc-items .sc-item img {
  width: 100px;
  cursor: pointer;
}

#side-cart #sc-items .info {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  margin-left: 10px;
}

#side-cart #sc-items .sc-label {
  margin: 0px;
  max-height: 20px;
}

#side-cart #sc-items .sc-quantity {
  font-style: italic;
  font-size: 12px;
  margin-top: -2px;
}

#side-cart #sc-items .item-count-adjust {
  margin-top: auto;
}

#side-cart #sc-items .remove-and-cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  padding: 15px 10px;
}

#side-cart #sc-items .remove-and-cost .delete {
  width: 20px;
  opacity: 0.5;
  cursor: pointer;
}

#side-cart #sc-items .remove-and-cost .delete:hover {
  opacity: 0.7;
}

#side-cart #sc-items .remove-and-cost .cost {
  font-size: 14px;
}

#sc-total-checkout {
  height: 100px;
  display: flex;
  flex-direction: column;
}

#sc-total-checkout #sc-subtotal {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#sc-total-checkout button {
  width: 80%;
  height: 30px;
  align-self: center;
  margin-top: 5px;

  color: white;
  background-color: rgb(49, 66, 77);
  border: none;
}
