#top-banner {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);

  height: max(70px, calc(20vh - 475px));
  margin-top: 5vh;
  margin-bottom: 5vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(212, 250, 250);
}

#top-banner #announcement {
  background: rgb(49, 66, 77);
  color: rgb(212, 250, 250);
  width: 100%;
  font-size: 12px;
  min-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav {
  flex: 1;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav div {
  box-sizing: border-box;
  min-width: 33%;
  max-width: 33%;
  display: flex;
}

#top-banner #categories {
  gap: 10px;
  padding-left: 10px;
}

#top-banner #categories a {
  color: rgb(9, 106, 170);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  transition: all 0.5s;
}

#top-banner #categories a:hover,
#top-banner #categories .active-link {
  color: rgb(6, 65, 105);
  background: #f4d35e;
}

#top-banner #icon-and-title {
  justify-content: center;
  font-family: "NorseBold";
  font-size: 30px;
}

#top-banner #cart {
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 3px;
}

#top-banner #boat-cart {
  height: 40px;
  cursor: pointer;
}

#top-banner #count-cart {
  border: 1px solid rgb(21, 17, 248);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#sc-backscreen {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

#top-banner #side-cart {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(220, 244, 252);
  height: 500px;
  width: 300px;
  z-index: 101;
}

#dragonhead {
  position: absolute;
  width: 100%;
  opacity: 10%;
  pointer-events: none;
  z-index: -1;
}

#sc-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-size: 20px;
  background-color: rgb(220, 244, 252);
}

#sc-close {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: rgb(221, 221, 221);
  color: rgb(114, 32, 32);
}

#sc-close:hover {
  background: rgb(230, 230, 230);
  color: rgb(131, 37, 37);
}

#sc-close:active {
  background: rgb(202, 201, 201);
  color: rgb(109, 31, 31);
}

#side-cart hr {
  margin: 0px;
  border-color: rgba(180, 81, 0, 0.521);
}

#side-cart #sc-items .sc-item {
  display: flex;
}

#side-cart #sc-items .sc-item {
  display: flex;
}

#side-cart #sc-items .sc-item img {
  width: 100px;
}
