#top-banner {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);

  height: max(70px, calc(20vh - 475px));
  margin-top: 5vh;
  margin-bottom: 5vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(212, 250, 250);
}

#top-banner #announcement {
  background: rgb(49, 66, 77);
  color: rgb(212, 250, 250);
  width: 100%;
  font-size: 12px;
  min-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav {
  flex: 1;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav div {
  box-sizing: border-box;
  min-width: 33%;
  max-width: 33%;
  display: flex;
}

#top-banner #categories {
  gap: 10px;
  padding-left: 10px;
}

#top-banner #categories a {
  color: rgb(9, 106, 170);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  transition: all 0.5s;
}

#top-banner #categories a:hover,
#top-banner #categories .active-link {
  color: rgb(6, 65, 105);
  background: #f4d35e;
}

#top-banner #icon-and-title {
  justify-content: center;
  font-family: "NorseBold";
  font-size: 30px;
}

#top-banner #cart {
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 3px;
  cursor: pointer;
}

#top-banner #boat-cart {
  height: 40px;
}

#top-banner #count-cart {
  border: 1px solid rgb(21, 17, 248);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

#top-banner #side-cart {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid black;
  background-color:rgb(220, 244, 252);
  height: 500px;
  width: 300px;
  z-index: 100;
}

#dragonhead {
  position: absolute;
  width: 100%;
  opacity: 25%;
  pointer-events: none;
}
