#top-banner {
  width: min(1500px, 96vw);
  min-width: min(1500px, 96vw);
  max-width: min(1500px, 96vw);

  height: max(70px, calc(20vh - 475px));
  margin-top: 5vh;
  margin-bottom: 5vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(212, 250, 250);
}

#top-banner #announcement {
  background: rgb(49, 66, 77);
  color: rgb(212, 250, 250);
  width: 100%;
  font-size: 12px;
  min-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav {
  flex: 1;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav div {
  box-sizing: border-box;
  min-width: 33%;
  max-width: 33%;
  display: flex;
}

#top-banner #categories {
  gap: 10px;
  padding-left: 10px;
}

#top-banner #categories-small,
#top-banner #categories-menu.minimized,
#top-banner hr,
#top-banner .menu-top {
  display: none;
}

#top-banner #categories-small img {
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 749px) {
  #top-banner #categories {
    display: none;

    position: absolute;
    top: 45px;
    left: 5px;
    background-color: rgb(220, 244, 252);
    border: inset black 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 100;
    min-width: 300px;
    padding: 10px;

    font-size: 33px;
    transition: all 1s;
  }

  #top-banner #categories.expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #top-banner #categories .menu-top {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    min-width: 100%;
  }

  #top-banner .x-btn {
    display: flex;
    justify-self: flex-start;
    font-size: 20px;
  }

  #top-banner .menu-top .title {
    font-size: 20px;
    font-family: NorseBold;
    padding-right: 35%;
  }

  #top-banner #categories a {
    display: flex;
    padding: 0px 10px;
  }

  #top-banner #categories.expanded hr {
    display: block;
    margin: 0 10px;
    width: 100%;
  }

  #top-banner #categories.expanded hr.thicker {
    width: 150px;
    border: 1px solid black;
    margin: 0px;
  }

  #top-banner #categories-small {
    display: block;
    padding-left: 15px;
  }
}

#top-banner #categories a {
  color: rgb(9, 106, 170);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  transition: all 0.5s;
}

#top-banner #categories a:hover,
#top-banner #categories .active-link {
  color: rgb(6, 65, 105);
  background: #f4d35e;
}

#top-banner #icon-and-title {
  justify-content: center;
  font-family: "NorseBold";
  font-size: 30px;
}

#top-banner #cart {
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 3px;
}

#top-banner #boat-cart {
  height: 40px;
  cursor: pointer;
}

#top-banner #count-cart {
  border: 1px solid rgb(21, 17, 248);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
