#top-banner {
  width: min(1500px, 96vw);
  min-width: min(1500px, max(96vw, 330px));
  max-width: min(1500px, 96vw);

  height: max(70px, calc(20vh - 475px));
  margin-top: 5vh;
  margin-bottom: 5vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(212, 250, 250);
}

@media screen and (max-width: 749px) {
  #top-banner {
    margin-top: 0px;
    margin-bottom: 3px;
    min-width: 100vw;
  }
}

#top-banner #announcement {
  background: rgb(49, 66, 77);
  color: rgb(212, 250, 250);
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 12px;
  min-height: 25px;
  border-bottom: outset 1px rgba(0, 0, 0, 0.5);
  border-right: outset 1px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav {
  flex: 1;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-banner nav div {
  box-sizing: border-box;
  min-width: 33%;
  max-width: 33%;
  display: flex;
}

#top-banner #categories {
  gap: 10px;
  padding-left: 10px;
  transition: all 0s;
}

#top-banner #categories-small,
#top-banner #categories-menu.minimized,
#top-banner hr,
#top-banner .menu-top {
  display: none;
}

#top-banner #categories-small #pancake {
  flex-direction: column;
  align-items: center;
  gap: 2px;
  height: 24px;
  cursor: pointer;
  min-width: 0px;
}

#top-banner #categories-small #pancake hr {
  display: block;
  background-color: rgb(244, 244, 244);
  border: solid 1px rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 3px;
  margin: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

#top-banner #categories-small #pancake:hover hr {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: #f4d35e;
}

#top-banner #categories-small #pancake:active hr {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#top-banner .menu-top .title,
#top-banner #icon-and-title {
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.8),
    5px 5px 2px rgba(0, 0, 0, 0.2);
  font-family: "NorseBold";
}

@media screen and (max-width: 749px) {
  #top-banner #categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(220, 244, 252);
    border: inset black 2px;
    z-index: 100;
    padding: 10px;
    font-size: 33px;
    transform-origin: top left;

    opacity: 0;
    pointer-events: none;
    top: 30px;
    left: 40px;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 0px 0px;
    transform: scale(0.1);
    transition: all 0.2s ease-in;
  }

  #top-banner #categories.expanded {
    opacity: 1;
    pointer-events: auto;
    top: 45px;
    left: 5px;
    min-width: 300px;
    transform: scale(1);
    box-shadow: rgb(0, 0, 0, 0.5) 15px 15px 15px 0px;
    transition: all 0.2s ease-out;
  }

  #top-banner #categories hr {
    display: block !important;
  }

  #top-banner #categories .menu-top {
    display: flex;
    justify-content: center;
    font-size: 20px;
    min-width: 100%;
    position: relative;
  }

  #top-banner .x-btn {
    font-size: 20px;
  }

  #top-banner .menu-top .title {
    font-size: 25px;
    font-family: NorseBold;
  }

  #top-banner .menu-top .x-btn {
    position: absolute;
    right: 0px;
  }

  #top-banner #categories a {
    display: flex;
    padding: 0px 10px;
  }

  #top-banner #categories hr {
    display: block;
    margin: 0 10px;
    width: 100%;
  }

  #top-banner #categories.expanded hr.thicker {
    width: 150px;
    border: 1px solid black;
    margin: 0px;
  }

  #top-banner #categories-small {
    display: block;
    padding-left: 15px;
  }

  #top-banner #categories-small img {
  }
}

#top-banner #categories a {
  color: rgb(6, 68, 109);
  background: rgb(245, 245, 245);
  /*clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);*/
  transition: all 0.5s;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  box-shadow: 10px 9px 8px -6px rgba(0, 0, 0, 0.5);
  border: solid 2px #41403e;
  padding: 0px 2px;
}

#top-banner #categories a:hover,
#top-banner #categories .active-link {
  background: #f4d35e;
  box-shadow: 1px 3px 8px -6px rgba(0, 0, 0, 0.5);
}

#top-banner #categories a:active {
}

#top-banner #icon-and-title {
  justify-content: center;
  font-size: 30px;
}

#top-banner #cart {
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 3px;
}

#top-banner #boat-cart {
  height: 40px;
  width: 40px;
  min-width: 0px;
  cursor: pointer;
  background-image: var(--boat);
  background-size: contain;
  background-repeat: no-repeat;
}

#top-banner #boat-cart:hover {
  background-image: var(--boat-hover);
}

#top-banner #boat-cart:active {
  background-image: var(--boat-active);
}

#top-banner #count-cart {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-family: "NorseBold";
  font-size: 20px;
  background: rgb(247, 247, 247);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

#top-banner #count-cart:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  background: #f4d35e;
  transition: all 0.4s;
}

#top-banner #count-cart:active {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
