@font-face {
  font-family: "Norse";
  src: url("/Norse.otf");
}

@font-face {
  font-family: "NorseBold";
  src: url("/NorseBold.otf");
}

#root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/background.png");
  background-size: cover;
  background-position: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.item-count-adjust {
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.sc-item .info .item-count-adjust {
  height: 16px;
  width: 50px;
  padding: 3px 5px;
}

.item-count-adjust button {
  font-size: 15px;
  background-color: transparent;
  border: none;
  width: 15px;
}

.item-count-adjust button:hover:not(:disabled) {
  color: grey;
  cursor: pointer;
}

.x-btn {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(221, 221, 221);
  color: rgb(114, 32, 32);
}

.x-btn:hover {
  background: rgb(230, 230, 230);
  color: rgb(131, 37, 37);
}

.x-btn:active {
  background: rgb(202, 201, 201);
  color: rgb(109, 31, 31);
}
